body{
    text-align: center;
    padding: 1.25% 2.5%;
}

.row{
    margin: 0;
    width: 100%;
}

.row.base{
    box-shadow: 0px 0px 10px grey;
}

.form-control{
    border-radius: 0px !important;
}

label{
    line-height: 1.25em;
}

.table-col{
    max-height: 67.5vh;
    overflow-y: auto;
}

thead, tfoot{
    background-color: #fff;
    position: -webkit-sticky;
    position: sticky;
}

thead{
    top: 0;
}

tfoot{
    bottom: 0;
}

table{
    table-layout: fixed;
}

@media(min-width: 768px)
{
    body{
        padding: 1.25% 12.5%;
    }   
}